{% import 'macros/form.html' as form %}
{% set form_style = c.form_style or c.action %}

  {{ data }}

<form class="dataset-form form-horizontal" method="post" action="import2" data-module="basic-form">
  {% block errors %}{{ form.errors(error_summary) }}{% endblock %}

  {% block basic_fields_url %}
    {% set is_upload = (data.url_type == 'upload') %}
    {{ form.image_upload(data, errors, field_url='url', field_upload='upload', field_clear='clear_upload',
       is_upload_enabled=h.uploads_enabled(), is_url=data.url and not is_upload, is_upload=is_upload,
       upload_label=_('File'), url_label=_('URL')) }}
  {% endblock %}

  {% block form_actions %}
    <div class="form-actions">
      {% block disclaimer %}
        <p class="action-info small">
          {%- trans -%}
          Important: By submitting content, you
          agree to release your contributions under the Open Database
          License.
          {%- endtrans -%}
        </p>
      {% endblock %}
      <button class="btn btn-primary" type="submit" name="import">{% block import_button_text %}{{ _('Import') }}{% endblock %}</button>
      {{ form.required_message() }}
    </div>
  {% endblock %}
</form>
