{% set ddi_config = h.ddi_theme_get_ddi_config() %}

<section class="additional-info module-content" xmlns="http://www.w3.org/1999/html">
  {% for section in ddi_config['fields'] %}
    <h3>{{ ddi_config['sections'][section] }}</h3>
    <table class="table package-{{section}}">
        {% for field in ddi_config['fields'][section] %}
          {% if ddi_config['fields'][section][field]['visible'] and field in pkg and pkg[field] %}
            <tr>
              <td>
              <p class="fieldname">{{ _(ddi_config['fields'][section][field]['display']) }}</p>
              </td>
              <td>
                <p class="metadata">
                  {% set field_type = ddi_config['fields'][section][field]['type'] %}
                  {% if field_type == 'url' or field_type == 'email' %}
                    {% set display_field = ddi_config['fields'][section][field]['display_field'] %}
                    {% set display_text = ddi_config['fields'][section][field]['display_text'] %}

                    {% if field_type == 'email' %}
                      {% set link = 'mailto:' + pkg[field] %}
                    {% else %}
                      {% set link = pkg[field] %}
                    {% endif %}

                    {% if display_field and display_field in pkg %}
                        <a href="{{ link }}">{{ pkg[display_field] }}</a>
                    {% elif display_text %}
                        <a href="{{ link }}">{{ display_text }}</a>
                    {% else %}
                        <a href="{{ link }}">{{ pkg[field] }}</a>
                    {% endif %}
                  {% elif ddi_config['fields'][section][field]['type'] == 'markdown' %}
                    {{ h.render_markdown(pkg[field], allow_html=True) }} 
                  {% else %}
                    {{ pkg[field] }}
                  {% endif %}
                </p>
              </td>
            <tr>
          {% endif %}
        {% endfor %}
    </table>
  {% endfor %}
</section>
