{% import 'macros/form.html' as form %}
{% set pkg = h.ddi_theme_get_package_dict(data.id) %}
{% set ddi_config = h.ddi_theme_get_ddi_config() %}

{% block package_metadata_fields %}

{% for section in ddi_config['fields'] %}
  {% for field in ddi_config['fields'][section] %}
    {% if title != 'title' %}
      {% if ddi_config['fields'][section][field]['type'] == 'markdown' %}
        {{ form.markdown(field, id='field-'+field, label=_(ddi_config['fields'][section][field]['display']), placeholder=_(ddi_config['fields'][section][field]['display']), value=data.field, error=errors.field, classes=['control-full']) }}
      {% elif ddi_config['fields'][section][field]['type'] == 'text' %}
        {{ form.input(field, id='field-'+field, label=_(ddi_config['fields'][section][field]['display']), placeholder=_(ddi_config['fields'][section][field]['display']), value=data.field, error=errors.field, classes=['control-full']) }}
      {% elif ddi_config['fields'][section][field]['type'] == 'vocabulary' %}
        {{ ddi_config['vocabularies'][field] }}
      {% endif %}
    {% endif %}
  {% endfor %}
{% endfor %}

{% endblock %}
